<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Mailbox</h3>
  </div>
    <div class="panel-body">
      <div>
        <ul>
          <li>Author</li>
          <li class="subject">Subject</li>
          <li class="description">Description</li>
          <li>Date</li>
          <li>Actions</li>
        </ul>
      </div>
      <div>
        <app-mail
          *ngFor="let mail of mailBox"
          [mail]="mail"
          (onDelete)="deleteMail(mail)"
        ></app-mail>
      </div>
    </div>
</div>
