<md-toolbar color="primary">

  <span>MailApp</span>
  <span class="toolbar-spacer"></span>
  <button md-button [mdMenuTriggerFor]="appMenu"><md-icon>menu</md-icon> Menu</button>

</md-toolbar>

<md-menu #appMenu="mdMenu">
  <button md-menu-item> Settings </button>
  <button md-menu-item> Help </button>
</md-menu>

<md-tab-group class="mat-default">
  <md-tab label="Inbox">
  </md-tab>

  <md-tab label="Settings">
  </md-tab>
</md-tab-group>

<md-card *ngFor="let email of (emails ? emails.slice(0,10): []); let i = index">

  <md-card-header>
    <md-card-title>{{ email.title }}</md-card-title>
  </md-card-header>

  <md-card-content>
    {{ email.body }}
  </md-card-content>

  <md-card-actions>
    <button md-button>
      <md-icon>favorite</md-icon> LIKE
    </button>
    <button md-button>
      <md-icon>share</md-icon> SHARE
    </button>
  </md-card-actions>

</md-card>
