<div class="card" (click)="highlightMe()">
  <div [class.bg-primary]="user.highlighted"
       [class.text-white]="user.highlighted"
       class="card-header">
    {{user.fullName}}
  </div>
  <div [class.bg-info]="user.highlighted"
       [class.text-white]="user.highlighted"
       class="card-block">
    <table class="table mb-0">
      <tbody>
      <tr>
        <td>Дата рождения</td>
        <td>{{user.birthdate}}</td>
      </tr>
      <tr>
        <td>Пол</td>
        <td>{{user.gender}}</td>
      </tr>
      <tr>
        <td>Адрес</td>
        <td>{{user.address}}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td><a
            href="mailto:{{user.email}}">{{user.email}}</a>
        </td>
      </tbody>
    </table>
  </div>
</div>