{{ user | json }}
<form #f="ngForm" (ngSubmit)="save(f.value)" *ngIf="user">
  <md-input-container>
    <input mdInput #nameModel="ngModel" name="name" type="text" [ngModel]="user.name" required>
  </md-input-container>
  <md-input-container>
    <input mdInput #nameModel="ngModel" name="surname" type="text" [ngModel]="user.surname" required>
  </md-input-container>
  <md-input-container>
    <input mdInput #nameModel="ngModel" name="email" type="text" [ngModel]="user.email" required pattern="^[a-zA-Z0–9_.+-]+@[a-zA-Z0–9-]+.[a-zA-Z0–9-.]+$" app-email-validator>
  </md-input-container>
  <div *ngIf="!f.valid">
    Form data is invalid
  </div

  <input md-button type="submit" value="Save" *ngIf="f.valid">
</form>