
<div class="panel panel-info" [class.selected]="this.isSelected()" (click)="this.toggleSelection()">
<!--  <div class="panel panel-info {{$ctrl.getSelected()}}"  (click)="console.log('hi')"> -->
  <div class="panel-heading">
    <h3 class="panel-title">{{this.user.firstName}} {{this.user.surname}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class=" col-md-9 col-lg-9 ">
        <table class="table table-user-information">
          <tbody>
          <tr><td>Фамилия</td><td>{{this.user.firstName}}</td></tr>
          <tr><td>Имя</td><td>{{this.user.surname}}</td></tr>
          <tr><td>Страна</td><td>{{this.user.country}}</td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="panel-footer">
  </div>
</div>
