<div class="container">
  <div class="row">
    <div class="col-md-6">
      <!-- usercard -->
      <div (click)="clickHandler()" class="panel panel-info">
        <div class="panel-heading" [class.clicked]="clicked">
          <h3 class="panel-title">{{user.name}}</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class=" col-md-9 col-lg-9 ">
              <table class="table table-user-information">
                <tbody>
                <tr><td>Дата рождения</td><td>{{user.date}}</td></tr>
                <tr><td>Пол</td><td>{{user.sex}}</td></tr>
                <tr><td>Адрес</td><td>{{user.address}}</td></tr>
                <tr><td>Email</td><td><a href="#">{{user.email}}</a></td>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- ...usercard -->
    </div>
  </div>
</div>
