<!--template driven-->
<form  #userForm="ngForm"
       (ngSubmit)="onSubmit(userForm)"
       class="form-horizontal">

  <div class="form-group">
    <label for="firstName" class="col-sm-2 control-label"><strong>First Name</strong></label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="firstName" placeholder="firstName" required name="firstName" [ngModel]="user?.firstName"
      />
    </div>
  </div>

  <div class="form-group">
    <label for="surname" class="col-sm-2 control-label"><strong>Surname</strong></label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="surname" placeholder="surname" required name="surname" [ngModel]="user?.surname"
      />
    </div>
  </div>

  <div class="form-group">
    <label for="country" class="col-sm-2 control-label"><strong>Country</strong></label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="country" placeholder="country" required name="country" [ngModel]="user?.country"
      />
    </div>
  </div>

  <div class="form-group">
    <label for="email" class="col-sm-2 control-label"><strong>Address</strong></label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" placeholder="email" required name="email" [ngModel]="user?.email"
      />
    </div>
  </div>

  <div class="alert alert-warning" role="alert">
    <strong>Warning!</strong> {{userForm.errors | json}}
  </div>
  <div class="alert alert-danger" role="alert">
    <strong>Oh snap!</strong> {{userForm.valid | json}}
  </div>

  <div class="form-group">
    <div class="col-sm-10 text-center">
      <button [disabled]="!userForm.form.valid"
              type="submit"
              class="btn btn-success">Apply</button>
    </div>
  </div>
</form>
