<md-card *ngFor="let contact of contacts; let index = index;" class="row">

  <md-card-header class="col-8 contact-details">
    <div md-card-avatar>
      <i class="material-icons contact-avatar-icon" *ngIf="!contact.photo">account_circle</i>
      <i class="contact-avatar-image" *ngIf="contact.photo"
         [style.backgroundImage]="'url(' + contact.photo + ')'">
      </i>
    </div>
    <md-card-title>{{ contact.firstName + ' ' + contact.surname }}</md-card-title>
    <md-card-subtitle>{{ contact.country | uppercase }}</md-card-subtitle>
  </md-card-header>

  <md-card-actions class="col-4 contact-controls">
    <button md-button mdTooltip="Not implemented yet" [mdTooltipPosition]="'below'">
      <i class="material-icons">create</i> WRITE
    </button>
    <!-- (click)="bookmark(index)" -->
    <button md-button mdTooltip="Not implemented yet" [mdTooltipPosition]="'below'">
      <i class="material-icons">delete</i> DELETE
    </button>
  </md-card-actions>

</md-card>
