<md-card *ngFor="let contact of contacts; let index = index;" class="row">

  <md-card-header class="col-11 contact-details">
    <div md-card-avatar>
      <i class="material-icons contact-avatar-icon" *ngIf="!contact.photo"
         [routerLink]="['/app/contacts/view', index]">
        account_circle
      </i>
      <i class="contact-avatar-image" *ngIf="contact.photo"
         [style.backgroundImage]="'url(' + contact.photo + ')'"
         [routerLink]="['/app/contacts/view', index]">
      </i>
    </div>
    <md-card-title [routerLink]="['/app/contacts/view', index]" class="contact-name">
      {{ contact.firstName + ' ' + contact.surname }}
    </md-card-title>
    <md-card-subtitle>{{ contact.country | uppercase }}</md-card-subtitle>
  </md-card-header>

  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item disabled
            mdTooltip="Not implemented yet" [mdTooltipPosition]="'below'">
      <md-icon>email</md-icon>
      <span>Write</span>
    </button>
    <button md-menu-item (click)="edit(index)">
      <md-icon>create</md-icon>
      <span>Edit</span>
    </button>
    <button md-menu-item (click)="viewDetails(index)">
      <md-icon>remove_red_eye</md-icon>
      <span>View details</span>
    </button>
  </md-menu>

</md-card>
