.row {
  display: flex;
  margin: 0;
  width: 684px;
  // align-items: flex-start;
}

.contact-details {
  // padding: 8px 16px;
}

.contact-controls {
  text-align: right;
  margin: -10px 0;
  padding: 0;
}

.contact-avatar-icon {
  font-size: 40px;
}

.contact-avatar-image {
  background-size: cover;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
