.row {
  display: flex;
  align-items: flex-start;
}

.contact-details {
  padding: 8px 16px;
}

.contact-avatar-icon {
  font-size: 40px;
}

.contact-avatar-image {
  background-size: cover;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
