<table class="table table-hover">
    <thead>
        <th>#</th>
        <th>From</th>
        <th>Title</th>
        <th>Received</th>
        <th>&nbsp;</th>
    </thead>
    <tbody>
        <tr *ngFor="let email of emails">
            <td>{{email.id}}</td>
            <td>{{email.user.name}}</td>
            <td>{{email.title}}</td>
            <td>{{email.received}}</td>
            <td>
                <a [routerLink]="['/mail', email.id]">Details</a>
            </td>
        </tr>
    </tbody>
</table>