<div class="user_layout">
  <div class="user_profile_top">
    <div *ngIf="!!user.photo" class="user_profile_image_main" [ngStyle]="{'background-image': 'url(' + user.photo + ')'}"></div>
    <div *ngIf="!!user.photo == false" class="user_profile_image_main_empty"></div>
    <div *ngIf="!!user.photo" class="user_profile_image_stable" [ngStyle]="{'background-image': 'url(' + user.photo + ')'}"></div>
    <div *ngIf="!!user.photo == false" class="user_profile_image_empty"></div>
    <p class="user_profile_top_name">{{user.firstName}} {{user.surname}}</p>
    <p class="user_profile_top_profession">{{user.profession}}</p>
  </div>
  <div class="user_profile_info">
    <div class="user_profile_section">
      <p class="user_profile_propery_header">Country code</p>
      <p class="user_profile_propery_value">{{user.country}}</p>
    </div>
  </div>
</div>