<div *ngIf="user">
  <p>{{user.surname}} {{user.name}}</p>
  <p>{{user.email}}</p>
  <form [formGroup]="userForm" (ngSubmit)="submit()" novalidate="">
    <input
      type="text"
      formControlName="name"
      [class.error]="nameInvalid"
      [class.valid]="!userForm.controls.name.pristine && !nameInvalid">

    <input
      type="text"
      formControlName="surname"
      [class.error]="surnameInvalid"
      [class.valid]="!userForm.controls.surname.pristine && !surnameInvalid">

    <input
      type="email"
      formControlName="email"
      [class.error]="emailInvalid"
      [class.valid]="!userForm.controls.email.pristine && !emailInvalid">

    <input
      type="submit"
      value="save"
      [disabled]="userForm.pristine || !userForm.valid">

    <input
      type="button"
      (click)="cancel()"
      value="cancel">

    <p *ngIf="nameError">{{nameError}}</p>
  </form>
</div>
