<div class="well">
  <div class="row">
    <div class="col-xs-5">
      <div class="form-group">
        <select
          class="form-control"
          [(ngModel)]="currencyFrom"
          required
        >
          <option value="null">Please chose currency</option>
          <option
            *ngFor="let currency of aviableCurrencyList"
            [value]="currency.value"
          >{{currency.value}}: {{currency.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-xs-5">
      <div class="form-group">
        <select
          class="form-control"
          [(ngModel)]="currencyTo"
          required
        >
          <option value="null">Please chose currency</option>
          <option
            *ngFor="let currency of aviableCurrencyList"
            [value]="currency.value"
          >{{currency.value}}: {{currency.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-xs-2">

    </div>
  </div>

  <div class="row">
    <div class="col-xs-5">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="From" required [(ngModel)]="valueFrom">
      </div>
    </div>
    <div class="col-xs-5">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="To" [(ngModel)]="valueTo">
      </div>
    </div>
    <div class="col-xs-2">
      <button type="button" class="btn btn-success" (click)="convert()">Convert</button>
    </div>
  </div>
</div>