<!-- <md-tab-group class="mat-default">
  <md-tab label="Inbox"
          routerLink="inbox"
          routerLinkActive="active">
    <dg-mail-list [emails]="emails"
                  [authors]="authorsHashMap">
    </dg-mail-list>
  </md-tab>

  <md-tab label="Contacts">
    <dg-contacts [users]="users">
    </dg-contacts>
  </md-tab>

  <md-tab label="Wiki">
    <dg-wiki-widget></dg-wiki-widget>
  </md-tab>

  <md-tab label="Settings">
    <div id="page-padding">
      <h1>Settings</h1>
      <p>Here you can control the various settings associated with your app. There's no need to hit a save button, as the values are updated automatically.</p>
      <label>Number of emails to show</label>
      <md-slider max="100" min="0" step="5" thumbLabel="true" value="10">
      </md-slider>
    </div>
  </md-tab>
</md-tab-group> -->

<nav md-tab-nav-bar aria-label="weather navigation links" class="mat-default">
  <a md-tab-link
     *ngFor="let routeLink of routeLinks; let i = index"
     [routerLink]="routeLink.link"
     [active]="activeLinkIndex === i"
     (click)="activeLinkIndex = i">
     {{routeLink.label}}
   </a>
</nav>

<router-outlet></router-outlet>
<!-- <a routerLink="" routerLinkActive="red"
[routerLinkActiveOptions]="{exact: true}" >home</a>
<a [routerLink]="['user', '1']"
[queryParams]="{x:5}"
routerLinkActive="red">user</a> -->
