<md-tab-group class="mat-default">
  <md-tab label="Inbox">
    <dg-mail-list [emails]="emails"
                  [authors]="authorsHashMap">
    </dg-mail-list>
  </md-tab>

  <md-tab label="Contacts">
    <dg-contacts [users]="users">
    </dg-contacts>
  </md-tab>

  <md-tab label="Wiki">
    <dg-wiki-widget></dg-wiki-widget>
  </md-tab>

  <md-tab label="Settings">
    <div id="page-padding">
      <h1>Settings</h1>
      <p>Here you can control the various settings associated with your app. There's no need to hit a save button, as the values are updated automatically.</p>
      <label>Number of emails to show</label>
      <md-slider max="100" min="0" step="5" thumbLabel="true" value="10">
      </md-slider>
    </div>
  </md-tab>
</md-tab-group>
