<div
  [class]="'user-card__root'"
  [class.user-card__root_active]="active"
  class="panel panel-info"
  (click)="toggleActive()"
>
  <div class="panel-heading">
    <h3 class="panel-title">{{ user | fullName }}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class=" col-md-9 col-lg-9 ">
        <table class="table table-user-information">
          <tbody>
          <tr><td>Дата рождения</td><td>{{ user.birthday }}</td></tr>
          <tr><td>Пол</td><td>{{ user.gender }}</td></tr>
          <tr><td>Адрес</td><td>{{ user.address }}</td></tr>
          <tr><td>Email</td><td><a [href]="user.email | mailto">{{ user.email }}</a></td>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>