<div class="container py-4">
  <h1 class="text-center mb-4">Users list</h1>

  <div class="row">
    <div *ngFor="let user of users; trackBy: index"
         class="col-md-12 col-lg-6 mb-4">
      <app-user-card [user]="user"
                     (highlightElement)="highlightElement($event)"></app-user-card>
    </div>
  </div>

  <h2 *ngIf="getHighlightedUsers().length"
      class="text-center">
    Highlighted: <span class="badge badge-default">{{getHighlightedUsers().length}}</span>
  </h2>
</div>