
<!--<md-toolbar color="primary">-->
  <!--<button class="app-icon-button" >-->
    <!--<i class="material-icons app-toolbar-menu">menu</i>-->
  <!--</button>-->

  <!--MailBox app-->

  <!--<span class="app-toolbar-filler"></span>-->
<!--</md-toolbar>-->

<!--<app-exchange-widget></app-exchange-widget>-->

  <!--<div class="app-content">-->
    <!--<app-mail-box></app-mail-box>-->
  <!--</div>-->

<!--<div class="app-content">-->
  <!--<app-user-list></app-user-list>-->
<!--</div>-->

<app-wiki-search></app-wiki-search>


