.email-item label {
    vertical-align: middle;
    text-align: left;
    float: left;
    width: 250px;
}

.email-item span.from {
    width: 200px;
    float: left;
}

.email-item span.receivingDate {
    width: 200px;
    float: left;
}