<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Currency converter</h3>
  </div>
    <div class="panel-body">
        <select
          [(ngModel)]="currencyFrom"
          (change)="currencyTo = ''"
        >
          <option 
            *ngFor="let currency of allCurrencies"
            [value]="currency"
          >{{currency}}</option>
        </select>
        ==>
        <select
          [(ngModel)]="currencyTo"
        >
          <option value="">Select currency</option>
          <option 
            *ngFor="let currency of getCurrenciesTo(currencyFrom)"
            [value]="currency"
          >{{currency}}</option>
        </select>
        <input type="text" 
          [(ngModel)]="amount" 
        >
        ==> {{getConvertedCurrency(currencyFrom, currencyTo, amount)}}
    </div>
</div>
