<div>
    <table [class]="'card-data'">
        <tr>
            <td [class]="'card-data__caption'">Фамилия</td>
            <td [class]="'card-data__data'">{{user.surname}}</td>
        </tr>
        <tr>
            <td [class]="'card-data__caption'">Имя</td>
            <td [class]="'card-data__data'">{{user.firstName}}</td>
        </tr>
        <tr>
            <td [class]="'card-data__caption'">Отчество</td>
            <td [class]="'card-data__data'">{{user.secondName}}</td>
        </tr>
        <tr>
            <td [class]="'card-data__caption'">Дата рождения</td>
            <td [class]="'card-data__data'">{{user.dateOfBirth}}</td>
        </tr>
        <tr>
            <td [class]="'card-data__caption'">Пол</td>
            <td [class]="'card-data__data'">{{sex}}</td>
        </tr>
    </table>
</div>