.card-selected {
    outline: 1px solid orangered;
}

.card {
    border-radius: 2px;
    box-shadow: 0 0 5px 2px lightgray;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    padding: 0 0 20px 0;
}

.card__title {
    text-align: left;
    margin: 0;
    padding: 10px;
    color: white;
    background-color: lightseagreen;
    border-bottom: 1px solid #238a82;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.card__user-name,
.card__action {
    margin: 0;
    padding: 0;
}