<div class="coworkers_layout">
  <h1>Coworkers</h1>
  <p>If you want to get coworker information, just select him from the list below</p>
  <ul class="coworkers">
    <li *ngFor="let user of coworkers; index as i" class="coworker_list_item" (click)="onUserPicked(user, i)"
      [class.picked]="selectedIndex >= 0 && selectedIndex == i">
      <div class="coworker_item">
        <div class="coworker_item_photo">
          <img [src]="user.photo" />
        </div>
        <div class="coworker_item_name">
          {{user.firstName}} {{user.surname}}
        </div>
      </div>
    </li>
  </ul>
</div>
