<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Mailbox</h3>
  </div>
  <div class="panel">
    <div class="panel-body">
      <table class="table">
        <tbody>
          <tr>
            <th>Author</th>
            <th>Subject</th>
            <th>Description</th>
            <th>Date</th>
          </tr>
          <tr *ngFor="let mail of mailBox">
            <td>
              <a [href]="'mailto:'+mail.authorMail">{{mail.author}} <{{mail.authorMail}}></a>
            </td>
            <td>{{mail.subject}}</td>
            <td>{{mail.description}}</td>
            <td>{{mail.date | timeElapsed}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
