.card-data {
    margin: 0 auto;
    width: 80%;
}

.card-data tr td {
    padding: 15px 0 2px 0;
    font-size: 20px;
}

.card-data__caption {
    font-style: italic;
    text-align: left;
}

.card-data__data {
    border-bottom: 2px solid lightgray;
    text-align: center;
}