<div class="panel panel-default card" (click)="onClick()" [class.card-border]="isSelected">
    <div class="panel-heading">{{user.fullName}}</div>
    <table class="table">
        <tbody>
            <tr>
                <td>Birth date</td>
                <td>{{user.birthDate}}</td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>{{user.gender}}</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>{{user.address}}</td>
            </tr>
            <tr>
                <td>e-mail</td>
                <td>
                    <a [href]="'mailto:' + user.email">{{user.email}}</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
