ul {
    display: flex;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #bce8f1;
    align-items: center;
    transition: background 0.25s ease-in-out;
}
ul:hover {
    background: #bce8f1;
}
ul li {
    flex-shrink: 1;
    list-style: none;
    padding: 10px;
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
ul li.subject {
    flex-grow: 1;
}
ul li.description {
    flex-grow: 2;
}