<form novalidate
  [formGroup]="user"
  [class.submitted] = "submitted"
  (ngSubmit)="saveUser(editUserForm)"
>
  <label>First name</label>
  <input type="text" formControlName="firstName" required>
  <label>Surname</label>
  <input type="text" formControlName="surname" required>
  <label>Country</label>
  <input type="text" formControlName="country" required>
  <label>Email</label>
  <input type="email" formControlName="email" required>
  <label>Photo URL</label>
  <input type="text" formControlName="photo">
  <input type="submit" value="Save">
</form>