<div>
  <div>
    USD<input type="radio" name="currency" value="USD" checked (click)="setCurrency('USD')">
    EUR<input type="radio" name="currency" value="EURO" (click)="setCurrency('EUR')">
    RUR<input type="radio" name="currency" value="RUR" (click)="setCurrency('RUR')">
  </div>
  <div>
    <input #input type="text" name="value" value="" (keyup)="setValue(input.value)">
    <button type="button" name="button" (click)="toggleRatio()">{{toBase ? 'to' : 'from'}}</button>
  </div>
  <p>{{result}}</p>
</div>
